<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
  <head th:fragment="head(title)">
      <meta charset="UTF-8">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <title th:replace="${title}">笑点</title>

      <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.css">

      <!--bootstrap-->
      <link rel="stylesheet" href="./css/bootstrap.min@3.3.4.css"  th:href="@{/css/bootstrap.min@3.3.4.css}">
      <!--coustom css-->
      <link rel="stylesheet" href="./css/me.css" th:href="@{/css/me.css}">
      <link rel="stylesheet" href="./css/style.css" th:href="@{/css/style.css}">
  </head>
  <body>

    <!--导航-->
    <nav th:fragment="menu(n)" class="ui inverted attached segment m-padded-tb-fit" >
      <div class="ui container">
        <div class="ui inverted secondary stackable menu">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <div class="logo">
              <a href="home.html" >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<img src="./img/logo.ico" width="52"/></a>
            </div>
          </div>

          <p class="indent"></p>
          <h2 class="ui teal header item">校点</h2>
          <a href="#" th:href="@{home}" class=" m-item item m-mobile-hide" th:classappend="${n==1} ? 'active'"><i class=" home icon"></i>首页</a>
          <a href="#" th:href="@{type}" class=" m-item item m-mobile-hide" th:classappend="${n==2} ? 'active'"><i class=" idea icon"></i>活动汇</a>
          <a href="#" th:href="@{me}" class="m-item item m-mobile-hide" th:classappend="${n==3} ? 'active'"><i class=" tags icon"></i>个人中心</a>
          <a href="#" th:href="@{activity-input}" class="m-item item m-mobile-hide" th:classappend="${n==4} ? 'active'"><i class=" pen square icon"></i>发布活动</a>

          <div class="right m-item m-mobile-hide menu">
            <div class="ui dropdown  item">
              <div class="text">
                <img class="ui avatar image" src="https://unsplash.it/100/100?image=1005" th:src="@{${session.user.avatar}}">
                <span th:text="${session.user.username}">李仁密</span>
              </div>
              <i class="dropdown icon"></i>
              <div class="menu">
                <a href="#" th:href="@{/logout}" class="item">注销</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <a href="#" class="ui menu toggle black icon button m-right-top m-mobile-show">
        <i class="sidebar icon"></i>
      </a>
    </nav>

    <!--底部footer-->
    <footer th:fragment="footer"  class="ui inverted vertical segment m-padded-tb-massive">
      <div class="ui center aligned container">
        <div class="ui inverted divided grid">
          <div class="four wide column m-text-spaced">
            <h4 class="ui inverted header">校点</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">关于我们</a>
            </div>
          </div>
          <div class="four wide column m-text-spaced ">
            <h4 class="ui inverted header">我要办活动</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">办活动前必读</a>
              <a href="#" class="item">发布/管理活动</a>
              <a href="#" class="item">售票/推广活动</a>
            </div>
          </div>
          <div class="four wide column m-text-spaced">
            <h4 class="ui inverted header">推荐活动</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">最新活动</a>
              <a href="#" class="item">热门活动</a>
            </div>
          </div>
          <div class="four wide column m-text-spaced">
            <h4 class="ui inverted header">联系我们</h4>
            <div class="ui inverted link list">
              <a href="#" class="item">客服电话</a>
              <b class="m-opacity-mini">8888-888888</b>
              <a href="#" class="item">商务合作</a>
              <a href="#" class="item">新媒体推广</a>
            </div>
          </div>
        </div>
        <div class="ui inverted section divider"></div>
        <p class="m-text-thin m-text-spaced m-opacity-mini">版权所有：上海师范大学美如画团队</p>
        <p class="m-text-thin m-text-spaced m-opacity-mini">校点 v1.0 © xiaodian.com All Rights Reserved.</p>
      </div>
    </footer>

<!--    <th:block th:fragment="script">-->
<!--&lt;!&ndash;      <script src="./js/jquery-2.1.4.min.js" th:href="@{/js/jquery-2.1.4.min.js}"></script>&ndash;&gt;-->
<!--      <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
<!--      <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>-->
<!--      &lt;!&ndash;default-js&ndash;&gt;-->
<!--      <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<!--      &lt;!&ndash;bootstrap-js&ndash;&gt;-->
<!--      <script src="./js/bootstrap.min.js" th:href="@{/js/bootstrap.min.js}"></script>-->
<!--    </th:block>-->
  </body>

</html>