<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">

    <head th:replace="_fragments :: head(~{::title})">
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>首页</title>
        <style>p.indent{ padding-left: 5em }</style>
        <script type="application/x-javascript"> addEventListener("load", function() {setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    </head>


    <body>
        <!--导航-->
        <nav th:replace="_fragments :: menu(1)" class="ui inverted attached segment m-padded-tb-fit">

        </nav>
        <!--中间内容-->
        <div>
            <div style="text-aligh:center">
                <div style="margin:0 auto;width:1200px">
                    <div id="myCarousel" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators">
                            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
                            <li data-target="#myCarousel" data-slide-to="1"></li>
                            <li data-target="#myCarousel" data-slide-to="2"></li>
                            <li data-target="#myCarousel" data-slide-to="3"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner" role="listbox">
                            <div class="item active">
                                <a href="#" th:href="@{/activity/73}" target="_blank"><img src="./img/web.jpg" alt="First slide" class="img-wid"/></a>
                        </div>
                        <div class="item">
                            <a href="#" th:href="@{/activity/74}" target="_blank"><img src="./img/web1.jpg" alt="Second slide" class="img-wid"/></a>
                        </div>
                        <div class="item">
                            <a href="#" th:href="@{/activity/75}" target="_blank"><img src="./img/web2.jpg" alt="Third slide" class="img-wid"/></a>
                        </div>
                        <div class="item">
                            <a href="#" th:href="@{/activity/76}" target="_blank"><img src="./img/web3.jpg" alt="Third slide" class="img-wid"/></a>
                        </div>
                    </div>

                    <!-- Controls -->
                    <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>

        <div class="container m-padded-tb-big" id="events">
            <div class="container">
                <div class="ui success message" th:unless="${#strings.isEmpty(message)}">
                    <i class="close icon"></i>
                    <div class="header">提示：</div>
                    <p th:text="${message}">恭喜，操作成功！</p>
                </div>
                <h3>最新推荐</h3>
                <hr class="featurette-divider m-padded-tb-fit">
                <div class="row featurette" th:each="activity : ${page.content}">
                    <div class="col-md-7 txt-sty1 flot-stn3">
                        <h2 class="featurette-heading " style="font-family:fantasy;font-size:24px;text-align:center">

                                <span class="text-muted" style="font-family:fantasy;text-align:center">
                                    <a href="#" th:href="@{/activity/{id}(id=${activity.id})}" target="_blank" th:text="${activity.activityTitle}" >志愿者招募</a>
                                </span>
                            </h2>
                            <br>
                            <p class="lead" style="font-family:fantasy;font-size:16px;text-align:left;line-height:160%" th:text="${activity.description}">
                                &nbsp; &nbsp; &nbsp; &nbsp; 今年暑期，金砖国家系列部长级会议在杭州举行，我校承担了通信部长会议的志愿服务工作。志愿服务工作，服务时长8904小时，
                                以热情、认真、负责的服务态度圆满完成来宾接机、引导、迎宾、安检等多项工作。
                            </p>
                        </div>
                        <div class="col-md-5 flot-stn3">
                            <img class="featurette-image img-responsive center-block" width="80" src="#" th:src="${activity.picture}">
                        </div>
                        <div class="clearfix"></div>

                        <hr class="featurette-divider">
                    </div>
                    <br>
                    <table class="table table-hover">
                        <tr>
                            <td><a th:href="@{/activityPage(page=0)}">首页</a></td>

                            <td th:switch="${page.getNumber()}">
                                <p th:case="0"> <a th:href="@{/activityPage(page=0)}">上一页</a> </p>
                                <p th:case="*"> <a th:href="@{/activityPage(page=${page.getNumber()}-1)}">上一页</a> </p>
                            </td>

                            <td th:switch="${page.getNumber()}">
                                <p th:case="${page.getSize()}"> <a th:href="@{/activityPage(page=${page.getSize()})}">下一页</a> </p>
                                <p th:case="*"> <a th:href="@{/activityPage(page=${page.getNumber()}+1)}">下一页</a> </p>
                            </td>

                            <td><a th:href="@{/activityPage(page=${page.getSize()})}">尾页</a></td>
                        </tr>
                    </table>
                </div>
            </div>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
        </div>
        <!--底部footer-->
        <footer class="ui inverted vertical segment m-padded-tb-massive">
            <div class="ui center aligned container">
                <div class="ui inverted divided grid">
                    <div class="four wide column m-text-spaced">
                        <h4 class="ui inverted header">校点</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">关于我们</a>
                        </div>
                    </div>
                    <div class="four wide column m-text-spaced ">
                        <h4 class="ui inverted header">我要办活动</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">办活动前必读</a>
                            <a href="#" class="item">发布/管理活动</a>
                            <a href="#" class="item">售票/推广活动</a>
                        </div>
                    </div>
                    <div class="four wide column m-text-spaced">
                        <h4 class="ui inverted header">推荐活动</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">最新活动</a>
                            <a href="#" class="item">热门活动</a>
                        </div>
                    </div>
                    <div class="four wide column m-text-spaced">
                        <h4 class="ui inverted header">联系我们</h4>
                        <div class="ui inverted link list">
                            <a href="#" class="item">客服电话</a>
                            <b class="m-opacity-mini">8888-888888</b>
                            <a href="#" class="item">商务合作</a>
                            <a href="#" class="item">新媒体推广</a>
                        </div>
                    </div>

                </div>
                <div class="ui inverted section divider"></div>
                <p class="m-text-thin m-text-spaced m-opacity-mini">版权所有：上海师范大学美如画团队</p>
                <p class="m-text-thin m-text-spaced m-opacity-mini">校点 v1.0 © xiaodian.com All Rights Reserved.</p>
            </div>
        </footer>

        <a id="scrollUp" href="#top" style="position: fixed; z-index: 2147483647;"><i class="fa fa-angle-up"></i></a>

        <script src="https://cdn.jsdelivr.net/npm/jquery@3.2/dist/jquery.min.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/semantic-ui@2.4.2/dist/semantic.min.js"></script>
        <script src="./js/bootstrap.min.js"></script>

        <script>
            $('.menu.toggle').click(function(){
                $('.m-item').toggleClass('m-mobile-hide')
            });
            $('.ui.dropdown').dropdown({
                on : 'hover'
            });
            //消息提示关闭初始化
            $('.message .close')
                .on('click', function () {
                    $(this)
                        .closest('.message')
                        .transition('fade');
                });
            // function page(obj) {
            //     console.log(page());
            //     $("[name='page']").val($(obj).data("page"));
            //     loaddata();
            // }
            // function loaddata() {
            //     $("#table-container").load("/activity/search",{
            //         title : $("[name='title']").val(),
            //         typeId : $("[name='typeId']").val(),
            //         recommend : $("[name='recommend']").prop('checked'),
            //         page : $("[name='page']").val()
            //     });
            // }

        </script>
    </body>
</html>