<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>test</title>
    <link rel="stylesheet" href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="./css/index.css">

</head>
<body>
    <div class="container">

        <form class="form-signin" th:action="@{/loginPost}" method="post">


            <div class="text-center mb-4">
                <img class="mb-4" src="./img/img79.ico" alt="" width="72" height="72">
                <h1 class="h3 mb-3 font-weight-normal">CAMPUS</h1>
            </div>

            <div class="form-label-group">
                <input type="text" name="username" id="inputUsername" class="form-control" placeholder="用户名" required autofocus>
            </div>

            <div class="form-label-group">
                <input type="password" name="password" id="inputPassword" class="form-control" placeholder="密码" required>
            </div>

            <div class="checkbox mb-3">
                <label>
                    <input type="checkbox" value="remember-me"> 记住我
                </label>
            </div>

            <button class="btn btn-lg btn-primary btn-block" type="submit" id="loginBtn">登 录</button>
            <br>
            <ul class="nav navbar-nav ">
                <li><a data-toggle="modal" data-target="#register" href=""><span class="glyphicon glyphicon-user"></span> 注册</a></li>
            </ul>
            <br><br><br><br><br>
            <p class="mt-5 mb-3 text-muted text-center">&copy; 2020 上海师范大学美如画团队</p>
            <div class="alert alert-warning" th:unless="${#strings.isEmpty(message)}" th:text="${message}">用户名和密码错误</div>
        </form>
    </div>

    <!-- 注册窗口 -->
     <div id="register" class="modal fade" tabindex="-1">
             <div class="modal-dialog">
                 <div class="modal-content">
                     <div class="modal-body">
                         <button class="close" data-dismiss="modal">
                             <span>&times;</span>
                         </button>
                     </div>
                     <div class="modal-title">
                         <h1 class="text-center">注册</h1>
                     </div>
                     <div class="modal-body">
                         <form class="form-group" th:action="@{/register}" method="post">
                                 <div class="form-group">
                                     <label for="">用户名</label>
                                     <input class="form-control" name = "username" type="text" placeholder="6-15位字母或数字">
                                 </div>
                                 <div class="form-group">
                                     <label for="">密码</label>
                                     <input class="form-control" name = "password-one" type="password" placeholder="至少6位字母或数字">
                                 </div>
                                 <div class="form-group">
                                     <label for="">再次输入密码</label>
                                     <input class="form-control" name= "password-two" type="password" placeholder="至少6位字母或数字">
                                 </div>
                                 <div class="form-group">
                                     <label for="">邮箱</label>
                                     <input class="form-control" name = "email" type="email" placeholder="例如:123@123.com">
                                 </div>
                                 <div class="text-right">
                                     <button class="btn btn-primary" type="submit">提交</button>
                                     <button class="btn btn-danger" data-dismiss="modal">取消</button>
                                 </div>
                         </form>
                     </div>
                 </div>
             </div>
     </div>
    <script>
        $(function () { $('#register').modal('hide')});
    </script>
</body>
</html>